name: Deploy to Ubuntu VM

on:
  push:
    branches:
      - main  # trigger on push to main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.8.1
      with:
        ssh-private-key: ${{ secrets.VM_SSH_KEY }}

    - name: Connect to VM and create hello.txt
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.VM_USER }}@${{ secrets.VM_HOST }} << 'EOF'
          echo "Hello Aryan" > hello.txt
          echo "File hello.txt created successfully!"
        EOF
